<div #formRow class="form-group">
  <label *ngIf="label && label.length">
    {{label | trans}}: &nbsp;
    <info-tooltip *ngIf="tooltipLabel && tooltipLabel.length > 0" [label]="tooltipLabel" [icon]="tooltipIcon"></info-tooltip>
  </label>
  <div class="input-group">
    <div class="input-group-addon" *ngIf="icon && icon.length">
      <i [class]="iconClassesString"></i>
    </div>
    <select [class]="classesString" [ngModel]="value" *ngIf="inputDisabled" disabled>
      <option *ngFor="let opt of options" value="{{opt && opt[optionKey] ? opt[optionKey] : opt}}">{{(opt && opt[optionKey] ? opt[optionKey] : opt) | trans}}</option>
    </select>
    <select [class]="classesString" [ngModel]="value" (ngModelChange)="onNgModelChange($event)" (keyup)="onInputKeyPress($event)" (change)="onInputValueChange($event)" *ngIf="!inputDisabled">
      <option *ngFor="let opt of options" value="{{opt && opt[optionKey] ? opt[optionKey] : opt}}">{{(opt && opt[optionKeyText] ? opt[optionKeyText] : opt) | trans}}</option>
    </select>
    <div class="input-group-btn" *ngIf="(btnLabel && btnLabel.length) || (btnIcon && btnIcon.length)">
      <btn [label]="btnLabel" [classes]="btnClasses" [icon]="btnIcon" (onEvent)="onBtnClick($event)"></btn>
    </div>
  </div>
</div>
